body{
    background-image: url('https://cdna.artstation.com/p/assets/images/images/015/574/888/original/pixel-jeff-claw.gif?1548847662');
    font-family: 'Courier New';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
a{
    display: inline-block;
    color: white;
    text-align: center;
    font-family: 'Courier New';
    font-size: large;
    padding: 20px;
    position: relative;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
li {
    margin: 10px 0;
}
h1{
    color: white;
}